<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Cliente</title>
    <link rel="icon" type="image/png" th:href="@{/img/icons/logo-fl.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/Bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Bootstrap/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/Dashboard.css}">
</head>

<body>
    <div class="d-flex flex-column flex-md-row vh-100">

        <div th:replace="fragments/navdashboard.html :: sidebar"></div>

        <div class="powerbi-container">
            <iframe title="Fitness Life - Dashboard"
                src="https://app.powerbi.com/view?r=eyJrIjoiYjk0OGY1ZjUtMzM5Zi00NjU0LTkwMTAtMjQ3NDA5NjhjMTdiIiwidCI6IjlkMTJiZjNmLWU0ZjYtNDdhYi05MTJmLTFhMmYwZmM0OGFhNCIsImMiOjR9"
                frameborder="0" allowFullScreen="true">
            </iframe>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>