<nav th:fragment="sidebar" class="sidebar d-flex flex-md-column flex-row align-items-center align-items-md-stretch p-3">
    <div class="sidebar-header d-none d-md-flex align-items-center">
        <span class="fw-bold fs-5">Fitness Life</span>
    </div>

    <ul class="nav flex-md-column flex-row  flex-grow-1 w-100 my-5" style="gap: 10px;">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link " style="color: #fff;"
                th:classappend="${currentPage == 'dashboard'} ? ' active'">
                <i class="bi bi-house-door"></i><span>Panel</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/userTable" class="nav-link" style="color: #fff;"
                th:classappend="${currentPage == 'usuarios'} ? ' active'">
                <i class="bi bi-people"></i><span>Usuarios</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/functionalTraining" style="color: #fff;" class="nav-link"
                th:classappend="${currentPage == 'clases'} ? ' active'">
                <i class="bi bi-calendar-event"></i><span>Clases</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" style="color: #fff;">
                <i class="bi bi-list-task"></i><span>Entrenadores</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/plans" class="nav-link" style="color: #fff;">
                <i class="bi bi-card-checklist"></i><span>Planes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/payments" class="nav-link" style="color: #fff;">
                <i class="bi bi-credit-card"></i><span>Pagos</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/accesses" class="nav-link" style="color: #fff;">
                <i class="bi bi-door-closed"></i><span>Accesos</span>
            </a>
        </li>
        <!--<li class="nav-item">
            <a href="#" class="nav-link" style="color: #fff;">
                <i class="bi bi-people"></i><span>Perfil</span>
            </a>
        </li>-->
    </ul>

    <div class="sidebar-footer d-none d-md-flex flex-column align-items-center mt-auto">
        <button class="btn btn-outline-light btn-sm w-100 mb-2">
            <i class="bi bi-gear"></i> Configuración
        </button>
        <a th:href="@{/logout}" class="btn btn-outline-danger btn-sm w-100">
            <i class="bi bi-box-arrow-right"></i> Salir
        </a>
        <a th:href="@{/home}" class="btn btn-outline-danger btn-sm w-100">
            <i class="bi bi-box-arrow-right"></i> Ir a Aplicacion
        </a>
    </div>
</nav>