/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Var */

:root {
    --bg-body: #1f212c;
    --primary-color: #2c5bff;
    --fontSize-title: 40px;
    --fontSize-paragraph: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p,
a,
li,
td,
input,
label,
select {
    font-family: 'Work Sans', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #1f212c;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background: #292c36;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: .8s ease-in-out;
}

form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-right: 0.3rem;
}

.heading h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #ffff;
}

.heading h6 {
    color: #d3d3d3;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.toggle {
    color: #ffff;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover {
    color: var(--primary-color);
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2.5rem;
}

.input-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
    height: 37px;
}

.input-wrap.half {
    flex: 1;
    position: relative;
    height: 100%;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 0;
    font-size: .95rem;
    color: #ffff;
    transition: 0.4s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: .95rem;
    color: #d3d3d3;
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active {
    border-bottom-color: #ffff;
}

.input-field.active+label {
    font-size: .75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background: var(--primary-color);
    color: #ffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background: #0b5ed7;
}

.text {
    color: #d3d3d3;
    font-size: .7rem;
}

.text a {
    color: #ffff;
    transition: 0.3s;
    text-decoration: none;
}

.text a:hover {
    color: var(--primary-color);
}

main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .forms-wrap {
    left: 55%;
}

main.sign-up-mode .carousel {
    left: 0%;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background: #2f313f;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    transition: .8s ease-in-out;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    max-width: 280px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image.show {
    opacity: 1;
    position: relative;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap {
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
    color: #ffff;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}

.text-group h2 {
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.bullets span.active {
    width: 1.1rem;
    background-color: #ffff;
    border-radius: 1rem;
}

/* Form Validation Styles */

.form__group-correct {
    border-bottom: 2px solid #28a745 !important;
}

.form__group-incorrect {
    border-bottom: 2px solid #dc3545 !important;
}

.form__input-error {
    font-size: 0.65rem;
    color: #dc3545;
    margin-top: 0.15rem;
    display: none;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    line-height: 1.1;
}

.form__input-error-active {
    display: block;
}

/* Success message */

.form__message-success {
    font-size: 0.875rem;
    color: #28a745;
    display: none;
    margin-top: 1rem;
}

.form__message-success-active {
    display: block;
}

/* Responsive */

@media (max-width: 990px) {
    .box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
    }

    form {
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }

    .heading {
        margin: 2rem 0;
    }

    form.sign-up-form {
        transform: translateX(100%);
    }

    main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
    }

    main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
    }

    .carousel {
        display: none;
    }
}

@media (max-width: 530px) {
    main {
        padding: 1rem;
    }

    .box {
        border-radius: 2rem;
    }

    .inner-box {
        padding: 1rem;
    }

    form {
        padding: 1rem 2rem 1.5rem;
    }

    .form__input-error {
        font-size: 0.6rem;
    }
}